language: node_js
node_js:
  - 6.11.1
cache: yarn
before_script:
  - git config --global user.name "Andy Chen"
  - git config --global user.email "shinningstar1001@gmail.com"
  - git clone --branch gh-pages https://${GH_REF} ${PACKAGE_FOLDER}
script:
  - npm test
  - npm run build
  - cd ${PACKAGE_FOLDER}
  - rm -rf *
  - cp -r ../build/* .
  - git add -A
  - git commit --message "${TRAVIS_COMMIT_MESSAGE} [ci skip]"
  - git push --force "https://${GH_TOKEN}@${GH_REF}" gh-pages:gh-pages
env:
  - PUBLIC_URL=/comet
  global:
    - GH_REF: github.com/Asing1001/comet.git
    - PACKAGE_FOLDER: mypackages
